@model RegistroEstudiantil.Models.Cursos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cursos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripción)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripción)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Profesores)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Profesores.IDProfesores)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IDCursos">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
